<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<!--<form action="">
  <p>Username: {{ username }}</p>
    <p>{{ username }}'s favorite framework: {{ favoriteFramework }}</p>
    <label for="framework">
      Favorite Framework:
      <input id="framework" type="text" [(ngModel)]="favoriteFramework" />
    </label>
    <br>
    <label for="">
      email:
      <input type="email" formControlname="email"/>
    </label>
    <button (click)="showframework()"> show</button>
    </form>>-->
    <app-navbar></app-navbar>
  <router-outlet></router-outlet>
    
  
</body>
</html>